/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#ffffff, #be9592);
  display: flex;
  justify-content: center;
  align-items: center;
}